@import '../adm.less';

table {
	text-align: center;
	margin-bottom: 15px;

	font-family: GauntletClassic;
}

table tr td,table tr th {
	border-bottom: 1px solid #cacaca;
	line-height: normal;
	//text-align: center;
	padding: 10px;
}

td.first {
  text-align: left;
}

th {
	font-weight: bold;
	color: #9bb58f;
	font-size: 20px;
	border-bottom: 2px solid #aaa !important;
}

.insert {
    text-decoration: none;
}

a.button{
  margin-top:20px;
}
