@import '../admUser.less';

input[type="radio"]{
  margin-left: 100px !important;
}

textarea.termo{
  .b_cols(20,20);
  resize: none;
  width: 660px;
  height: 300px;
  margin-bottom: 35px;
}

button[type="submit"]{
  .b_cols(7, 4);
  .push(2);
  background-color: #23a749;
}

span.barra{
  .cols(0);
  font-size:30px;
  margin: 7px 5px 0 -3px;
  color: #d6d6d6 - #111 !important;
  position: relative;
  bottom: 9px !important;
}

span.erro {
  font-family: GauntletClassic;
  font-size: 14px;
  color:red;
  margin-left: 20px;
  line-height:35px;
  vertical-align:center;
}
span.termo{
  .cols(20);
  margin-top:-15px;
  margin-left: 45px;
}

label.radio {
  width:30px !important;
}

label {
    width: 100px !important;
//    background-color: blue;
}

.campo {
    .first();
}

.size {
    position: relative;
    top: 20px;
}

.loco {
    position: relative;
    bottom: 15px;

}