@import '../site.less';

//coloca corzinha no menu
@page_color: @color_inscricao;
#layoutUp .barraMenu .menu ul li.inscricao 
{ border-bottom-width: 5px; border-bottom-style: solid; }
  
h2.icon {
  .icon(url('../images/inscricao_like_end.png'), 60px, 0, 2px);
}

p {
  .cols(10);
  margin-right: 20000px;
  margin-bottom: 15px;
}

.sharer:link {
	
}

.sharer:visited {
}

.button {
  .cols(5);
  margin-top: 40px !important;
	display: block;
	background-color: @color_inscricao !important;
}



