@import "general.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "../../modules/styles/structure/responsive.less";

footer {
     padding-top: @baseLineHeight - 1;
     margin-top: @baseLineHeight - 1;
     border-top: 1px solid #eee;
   }